section > div
{
    max-width: 800px;
}

.blog-post-list-wrapper h2
{
    margin-top: 80px;
    margin-bottom: 14px;
}

.blog-post-list-wrapper img
{
    border-radius: 10px;
}

.blog-post-grid
{
    display: grid;
    grid-template-columns: 33% 65%;
    column-gap: 3%;
}

@media only screen and (max-width: 700px)
{
    .blog-post-grid
    {
        display: initial;
    }
}
