/* General Layout */

section
{
    padding-bottom: 90px;
    padding-top: 90px;
}

section > div
{
    width: 95%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

h1
{
    line-height: 1.0;
    margin-top: 0px;
}

h2
{
    text-align: center;
/*    margin-bottom: 30px;*/
}

.codeface-3-columns
{
    display: grid;
    grid-template-columns: 31% 31% 31%;
    column-gap: 3.5%;
}

@media only screen and (max-width: 700px)
{
    .codeface-3-columns
    {
        display: initial;
    }
}

/* Screen Shots */

#screen-shot-1
{
    background:url(screenshots/01_dark.png) no-repeat;
    background-size:contain;
    background-position:center;
}

#screen-shot-1.light-mode
{
    background:url(screenshots/01_light.png) no-repeat;
    background-size:contain;
    background-position:center;
}

#screen-shot-2
{
    background:url(screenshots/02_dark.png) no-repeat;
    background-size:contain;
    background-position:center;
}

#screen-shot-2.light-mode
{
    background:url(screenshots/02_light.png) no-repeat;
    background-size:contain;
    background-position:center;
}
#screen-shot-3
{
    background:url(screenshots/03_dark.png) no-repeat;
    background-size:contain;
    background-position:center;
}

#screen-shot-3.light-mode
{
    background:url(screenshots/03_light.png) no-repeat;
    background-size:contain;
    background-position:center;
}

/* Bottom Section (Contact) */

#contact {
    background: rgb(29,29,29);
}
