/* Basics */

@font-face
{
    font-family: FlowlistRegular;
    src: url("fonts/SF-Pro-Text-Regular.otf") format("opentype");
}

@font-face
{
    font-family: FlowlistBold;
    src: url("fonts/SF-Pro-Display-Bold.otf") format("opentype");
}

@font-face
{
    font-family: FiraCode;
    src: url("fonts/FiraCode-Regular.ttf") format("truetype");
}

html {
    scroll-behavior: smooth;
}

body
{
    background:black;
    color:white;
    font-family: FlowlistRegular;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.6;
    margin: 0px;
}

a
{
    color: rgba(67,141,227,1.0);
    text-decoration: none;
}

a:hover
{
    color: rgba(84,178,235,1.0);
    text-decoration: underline;
}

section
{
    padding-top:90px;
    padding-bottom:90px;

    background: white; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(black, rgba(16, 16, 16, 1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(black, rgba(16, 16, 16, 1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(black, rgba(16, 16, 16, 1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(black, rgba(16, 16, 16, 1)); /* Standard syntax */
}

section > div
{
    width:95%;
    max-width:1024px;
    margin-left:auto;
    margin-right:auto;
}

h1, h2
{
    line-height: 1.6;
    text-align:center;
}

h1
{
    margin-top: -30px;
    letter-spacing: -2px;
    font-family: FlowlistBold;
    font-size: 72px;
    margin-bottom: 20px;
    font-weight: normal;
}

h2
{
    font-family: FiraCode;
    font-weight: normal;
    letter-spacing: -1px;
    line-height: 1.6;
    font-size: 32px;
    margin-bottom: 30px;
}

h3
{
    font-family: FlowlistBold;
    font-weight: normal;
    letter-spacing: 0px;
    line-height: 1.6;
    font-size: 18px;
}

code
{
    font-family: FiraCode;
    font-weight: normal;
    letter-spacing: -1px;
}

/* Navbar */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.left {
  float: left;
}
    
.left a {
    padding-top: 18px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 16px;
}
    
.right {
  padding-top: 8px;
  padding-right: 20px;
  float: right;
}

li a {
  display: block;
  text-align: center;
  color: white;
  text-decoration: none;
}

li a:hover {
  text-decoration: none;
}
    
#codeface-navbar {
    background: rgb(16,16,16);
}

/* Bottom Bar */

#codeface-bottom-bar {
    padding-top:18px;
    padding-bottom:16px;
    background:black;
}

#codeface-bottom-bar a {
    text-decoration:none;
    color: white;
}

#codeface-bottom-bar a:hover {
    color: rgba(84,178,235,1.0);
}

/* Responsive Grid */

.codeface-3-columns {
    display: grid;
    grid-template-columns: 31% 31% 31%;
    column-gap:3.5%;
}

@media only screen and (max-width: 700px) {
    .codeface-3-columns {
        display: initial;
    }
}

/* Screen Shots */

#screen-shot-1
{
    background:url(screenshots/01_dark.png) no-repeat;
    background-size:contain;
    background-position:center;
}

#screen-shot-1:hover
{
    background:url(screenshots/01_light.png) no-repeat;
    background-size:contain;
    background-position:center;
}
#screen-shot-2
{
    background:url(screenshots/02_dark.png) no-repeat;
    background-size:contain;
    background-position:center;
}

#screen-shot-2:hover
{
    background:url(screenshots/02_light.png) no-repeat;
    background-size:contain;
    background-position:center;
}
#screen-shot-3
{
    background:url(screenshots/03_dark.png) no-repeat;
    background-size:contain;
    background-position:center;
}

#screen-shot-3:hover
{
    background:url(screenshots/03_light.png) no-repeat;
    background-size:contain;
    background-position:center;
}
